{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "template.njk" %}

{% block content %}

  <div class="govuk-width-container">
    <div role="region" aria-label="go-back"> 
      <a href="/" class="govuk-back-link govuk-! display-none-print"> Back </a>
    </div>

    {% if task %}
    <form method="post" id="taskFormDelete" data-task-id="{{ task.id }}">
      <div class=" govuk-!-margin-top-5">
        <h1 class="govuk-heading-xl">{{ task.title }}</h1>
      </div>

      <div class="govuk-!-margin-top-5">
        <p class="govuk-body-l"> Are you sure you want to delete this task? </p>
        {{ govukButton({
          text: "Yes",
          type: "submit"
        }) }}

        {{ govukButton({
          text: "Cancel",
          href: "/",
          classes: "govuk-button--secondary"
        }) }}
      </div>
      {% else %}
        <p class="govuk-body govuk-!-text-align-center govuk-!-margin-top-9">This task has either been deleted or does not exist.</p>
      {% endif %}
    </form>
  </div>

  <script>
    document.getElementById('taskFormDelete').addEventListener('submit', function(event) {
      event.preventDefault();
      const taskId = this.getAttribute('data-task-id');
      this.action = `/delete/${taskId}`;
      this.submit();
    });
  </script>

{% endblock %}
