{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "template.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">
    All Tasks
    <a href="/create" class="govuk-button govuk-!-float-right" style="float: right">
      Create Task
    </a>
  </h1>


  {% if tasks.length > 0 %}

    {% for item in tasks %}
    {{ govukSummaryList({
      rows: [
        {
          key: { text: item.title },
          value: { text: '' },
          actions: {
            items: [
              {
                href: "/view/" + item.id,
                text: "View"
              },
              {
                href: "/edit/" + item.id,
                text: "Edit"
              },
              {
                href: "/delete/" + item.id,
                text: "Delete"
              }
            ]
          }
        }
      ]
    }) }}
{% endfor %}

    {% else %}
    
      <p class="govuk-body govuk-!-text-align-center govuk-!-margin-top-9">You do not have any tasks. Please add some.</p>

  {% endif %}

{% endblock %}